extends layout

block content
  script(type='text/javascript').
    $(function () {
      $('#course').change(function () {
        $.ajax({
          url: '/api/courses/details',
          method: 'POST',
          data: {
            course_id: $('#course option:selected').val()
          },
          dataType: 'json',
          success: function (data) {
            $('#destination').empty();

            for (var i = 0; i < data.courseDetails.length; i++) {
              $('#destination').append($("<option></option>").attr("value", data.courseDetails[i].destination.id).text(data.courseDetails[i].destination.name));
            }
          }
        }); // $.ajax
      });
    });

  .container
    .col-sm-12
      .panel.panel-default.row
        .panel-heading
          h1.panel-title push send
        .panel-body
          .row
            label.col-sm-2 title
            label.col-sm-4 &nbsp;
            label.col-sm-5 message
          each item in pushMessages
            if (item.scheme === '3')
              .row
                form(action='/api/push/send', method='POST')
                  label.col-sm-2 #{item.title}
                  if (item.scheme === '3')
                    .col-sm-2
                      select#course.form-control(name='course_id')
                        option(value='') course_id
                        if (courses)
                          each item in courses
                            option(value=item.id) #{item.id}
                    .col-sm-2
                      select#destination.form-control(name='destination_id')
                        option(value='') 목적지

                  else
                    label.col-sm-4 &nbsp;
                  label.col-sm-5 #{item.message}
                  label
                    button(type='submit') push 보내기
                  input(type='hidden', name='push_id', value='#{item.id}')
        .panel-footer
