extends layout

block content
  script(type='text/javascript').
    $(function () {
      $('#ticketing-btn').on('click' , function () {
        $.ajax({
          url: '/api/tickets/ticketing',
          method: 'POST',
          data: {
            eid: $("#eid").val(),
            bcnt: $("#bcnt").val(),
            mmembers: $("#mmembers").val()
          },
          dataType: 'json',
          success: function (data) {
            if (alert(data.busCount + "대의 버스가 생성되었습니다")) {
            } else {
              window.location.reload();
            }
          }
        }); // $.ajax
      });
    });

  .container
    .col-sm-12
      .panel.panel-default.row
        .panel-heading
          h1.panel-title 경로 요청
        .panel-body
          .row
            label.col-sm-2 코스 id
            label.col-sm-4 목적지
            label.col-sm-2 핸드폰 번호
            label.col-sm-2 인원
          each item in courseRequests
            .row
              label.col-sm-2 #{item.course_id}
              label.col-sm-4 #{item.destination.name}
              label.col-sm-2 #{item.user.phone}
              label.col-sm-2 #{item.members}
        .panel-footer
          .row.well.well-sm
            form#ticketing.form-horizontal
              .form-group
                label.col-sm-2.control-label 이벤트 ID
                .col-sm-2
                  input#eid.form-control(type='text', name='eid')
              .form-group
                label.col-sm-2.control-label(for='bcnt') 버스 수
                .col-sm-2
                  input#bcnt.form-control(type='text', name='bcnt')
              .form-group
                label.col-sm-2.control-label(for='mmembers') 줄일 최소인원 수
                .col-sm-2
                  input#mmembers.form-control(type='text', name='mmembers')
              if (busCount)
                label.col-sm-2.control-label(for='mmembers') #{busCount}대의 버스가 생성되었습니다.
              button#ticketing-btn.btn.btn-default.pull-right(type='button') 발권
          .row.well.well-sm
            form.form-horizontal(role='form', action="/api/tickets/reject", method='POST')
              button.btn.btn-default.pull-right(type='submit') 남은 요청 거절
          .row.well.well-sm
            form.form-horizontal(role='form', action="/api/tickets/end", method='POST')
              .form-group
                label.col-sm-2.control-label 이벤트 ID
                .col-sm-2
                  input.form-control(type='text', name='eid')
              button.btn.btn-default.pull-right(type='submit') 이벤트 종료
